{% extends'::base.html.twig' %}
{% block body %}
    <div class="row">
        <div>
            <form name="besuch">

                Sie sind seit <input name="dauer" id="ka" size="10"> Sekunden auf dieser Seite.

            </form>
            <button type="button" onclick="stoppuhr()" class="bla" >Klicken</button>


        </div>
        <div class="col-sm-6 col-md-4">
            <h1> Bitte geben Sie ihre Zutaten ein:</h1>
            {{ form_start(form,{'attr': {'class': 'form-group'} }) }}
                {{ form_widget(form) }}
            <input id="button" type="submit" value="Rezept suchen"
                   class="btn btn-success " />
            {{ form_end(form) }}

            <div class="ausgabe">
                <h3>{{ title }}</h3>
                <div id="result">
                    <img src="{{ image }}" width="120px" height="auto">
                </div>
            </div>

        <div id="buttons">
            <p><a id="create" class="btn btn-primary" href="{{ path('rezeptErstellen') }}">
                Rezept erstellen
            </a>
            <a id="create" class="btn btn-primary" href="{{ path('rezepteAnzeigen') }}">
                Meine Rezepte anzeigen
            </a></p>
        </div>
            </div>


    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            $(".bla").click();

            document.onload = function() { aktuell = new Date();

                zeit = (aktuell.getTime() - startzeit) / 1000;

                document.besuch.dauer.value = Math.round(zeit);

                setTimeout('stoppuhr()',1000);}


        });



        start = new Date();

        startzeit = start.getTime();



        function stoppuhr()

        {
            aktuell = new Date();

            zeit = (aktuell.getTime() - startzeit) / 1000;

            document.besuch.dauer.value = Math.round(zeit);

            console.log(Math.round(zeit))

            setTimeout('stoppuhr()',1000);

        }

    </script>

{% endblock %}