{% extends'::base.html.twig' %}
{% block body %}
    <button type="button" class="btn btn-primary" id="search"> Rezepte suchen </button>
    <button type="button" class="btn btn-primary" id="create"> Rezepte erstellen </button>

    <div id="eingabe">
    <h1> Bitte geben Sie ihre Zutaten ein:</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>{{ title }}</p>
    <div>
        <img src="{{ image }}">
    </div>
    </div>

    <div id="eingabe2">
        <h1> Bitte geben Sie ihre Rezept ein:</h1>
    </div>



    {#{{ form_start(recipe) }}
    {{ form_widget(recipe) }}
    {{ form_end(recipe) }}#}

    <script type="text/javascript">
        $(document).ready(function(){
            $('#eingabe2').hide();
            /* Hier der jQuery-Code */
            $('#search').click(function(){
                $('#eingabe2').hide();
                $('#eingabe').toggle();
            })
            $('#create').click(function(){
                $('#eingabe').hide();
                $('#eingabe2').toggle();
            })
        });
    </script>

{% endblock %}