{% extends'::base.html.twig' %}
{% block body %}

    <h1> Bitte geben Sie ihre Zutaten ein:</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <p>{{ title }}</p>
    <div>
        <img src="{{ image }}">
    </div>

{% endblock %}