{% extends'::base.html.twig' %}
{% block body %}
    <div id="content_dashboard">
   {# <button type="button" class="btn btn-primary" id="search"> Rezepte suchen </button>
    <button type="button" class="btn btn-primary" id="create" href="{{ path('rezeptErstellen') }}"> Rezepte erstellen </button>#}


    <div id="eingabe">
    <h1> Bitte geben Sie ihre Zutaten ein:</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h3>{{ title }}</h3>
    <div id="result">
        <img src="{{ image }}">
    </div>
    </div>

        <div id="buttons">
            <a id="create" class="btn btn-primary" href="{{ path('rezeptErstellen') }}">
                Rezept erstellen
            </a>
            <a id="create" class="btn btn-primary" href="{{ path('rezepteAnzeigen') }}">
                Meine Rezepte anzeigen
            </a>
        </div>


    </div>






{% endblock %}