{% extends'::base.html.twig' %}
{% block body %}
<div id="content">
    <div class="row">
    {% for r in userRezepte %}

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ r.getImage()}}" height="200px" width=auto>

                    <div class="caption">
                        <h4>{{ r.getTitle() }}</h4>
                        <div> Zutaten: {{ r.getZutaten() }}</div>
                        <div> Beschreibung: {{ r.getDiscription() }}</div>
                        <div> Ersteller: {{ r.getAuthor() }}</div>
                        <p><a href="{{ path('rezeptBearbeiten', {'id': r.getId}) }}" class="btn btn-primary" role="button">Bearbeiten</a>
                            <a href="{{ path('rezepteLoeschen', {'id': r.getId}) }}" class="btn-danger btn" role="button">Löschen</a></p>
                        <p></p>
                    </div>
                </div>
            </div>


        {% endfor %}
    </div>
    <div>
        <a href="{{ path('dashboard') }}" class="btn btn-success" role="button"> Zurück zur Rezeptsuche</a>
        <a href="{{ path('rezeptErstellen') }}" class="btn btn-info" role="button"> Mehr Rezepte erstellen</a>

    </div>

</div>

{% endblock %}