{% extends'::base.html.twig' %}
{% block body %}
    <div id="row">
    <div class="col-sm-6 col-md-4">
        <div id="eingabe">
            <h1> Bitte geben Sie ihre Rezept ein:</h1>

            {{ form_start(form) }}
            {{ form_widget(form,{'attr': {'class': 'form-group'} }) }}
            <input id="button" type="submit" value="Rezept erstellen"
                   class="btn btn-success " />
            {{ form_end(form) }}

                <a id="button" class="btn btn-primary" href="{{ path('dashboard') }}">Rezept nach Zutaten suchen </a>
                <a id="button" class="btn btn-info" href="{{ path('rezepteAnzeigen') }}">Meine Rezepte anzeigen</a>

        </div>
        </div>


    </div>



{% endblock %}