{% extends'::base.html.twig' %}
{% block body %}

    <div class="row">
    {% for r in userRezepte %}

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% if r.getImage() != null%}
                    <img src="{{ r.getImage()}}" height="200px" width=auto>
                    {% else %}
                        <img src="https://placeholdit.imgix.net/~text?txtsize=60&txt=640×640&w=640&h=640" height="200px" width=auto>
                    {% endif %}
                    <div class="caption">
                        <h4>{{ r.getTitle() }}</h4>
                        <div> Zutaten: {{ r.getZutaten() }}</div>
                        <div> Beschreibung: {{ r.getDiscription() }}</div>
                        <div> Ersteller: {{ r.getAuthor() }}</div>
                        <p><a href="#" class="btn btn-primary" role="button">Bearbeiten</a> <a href="#" class="btn btn-primary" role="button">Löschen</a></p>
                        <p></p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>



{% endblock %}