{% extends'::base.html.twig' %}
{% block body %}
    <div>


        <div id="eingabe">
            <h1> Bitte geben Sie ihre Rezept ein:</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div id="buttons">
            <p>
                <a id="create" class="btn btn-primary" href="{{ path('dashboard') }}">Rezept nach Zutaten suchen </a>
                <a id="create" class="btn btn-info" href="{{ path('rezepteAnzeigen') }}">Meine Rezepte anzeigen</a>
            </p>
        </div>


    </div>



{% endblock %}